build/
dist/
_build/
_generate/
*.so
*.py[cod]
*.egg-info
*env*
examples/.DS_Store
tests/.DS_Store
tests/.DS_Store
examples/.ipynb_checkpoints/example_Vietoris-Rips-checkpoint.ipynb
examples/.ipynb_checkpoints/example_cubical-checkpoint.ipynb
examples/data/.DS_Store
